form(name="login", action="/imapsuck", method="post")
	label Uname:
	input(type="text", name="username")
	br
	label password: 
	input(type="password", name="password")
	br
	label service: 
	input(type="text", name="service")
	br
	input(type="submit", value="Submit")