h1= title

a(href='/auth/facebook') Facebook Auth
br
a(href='/auth/twitter') Twitter Auth
br
a(href='/auth/google') Google Auth 
br 
a(href='/logout') Logout

br 
img(src='http://media.lehighvalleylive.com/entertainment-general_impact/photo/inflatable-unicorn-hats-57cd0190fe7fa3da.jpg' style='height: 400px; width: 275px;')

