h1= title

a(href='/auth/facebook') Facebook Auth
br
a(href='/auth/twitter') Twitter Auth
br
a(href='/auth/google') Google Auth 
br
a(href='/auth/yahoo') Yahoo Auth
br 
a(href='/auth/windowslive') Windows Live Auth
br
a(href='/logout') Logout

